[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
selenium = "*"

[packages]
selenium-page-factory = "*"
pytest = "*"
webdriver-manager = "*"

[requires]
python_version = "3.8"
